@{
    ViewBag.Title = "Bạn không có quyền truy cập";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Bạn không có quyền sử dụng chức năng này
        </h1>
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
            <li class="active">Không có quyền truy cập</li>
        </ol>
    </section>

    <div class="pad margin no-print">
        <div class="callout callout-danger" style="margin-bottom: 0!important;">
            <h4><i class="fa fa-info"></i> Note:</h4>
            Bạn không có quyền sử dụng chức năng này. Vui lòng truy cập các chức năng đã được phân quyền.
        </div>
    </div>
</div><!-- /.content-wrapper -->