@{
    ViewBag.Title = "Không tiếp nhận xe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Không tiếp nhận xe
        </h1>
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
            <li class="active">Ngừng tiếp nhận xe</li>
        </ol>
    </section>

    <div class="pad margin no-print">
        <div class="callout callout-warning" style="margin-bottom: 0!important;">
            <h4><i class="fa fa-info"></i> NOTE:</h4>
            <h3>Đã quá số lượng xe nhận sửa chữa trong một ngày. Gara không thể tiếp nhận xe.</h3>
            <h3>Vui lòng chờ sang ngày hôm sau hoặc thay đổi số lượng xe tiếp nhận.</h3>
        </div>
    </div>
</div><!-- /.content-wrapper -->
